@charset "UTF-8";

html, body, div, tr, th, td, h1, h2, h3, p, a, center, table{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
body{line-height: 1;}
table{
  border-collapse: collapse;
  border-spacing: 0;
}

body{
  font: 14px "ヒラギノ明朝　pro W3","Hiragino Mincho Pro";
  height: 100%;
}



#main{
    float: right;
      width: 70%;
}
#side{
      width: 25%;
      font-size:20px;
      margin-left: auto;
      float: left;
}




  #main h1{
    font-size:35px;
    margin-bottom:5px;
  }
  #main p {
    font-size:25px;
    margin-bottom: 7px
  }

  #side p{
    font-size:15px
  }



  #footer{
    text-align:center;
    font-size: 30px;
    margin-top:30px;
  }

  #keibatytle{
  color: #010079;
  text-shadow: 0 0 5px white;
  border-left: solid 7px #010079;
  background: -webkit-repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}

  #keibatytle p{
  font-size: 60px;
  margin: 0;
  margin: 0;
}

#keiba{
  width: 100%;
}
#win {
  float: right;
  width: 30%;
  padding: 0.5em 1em;
  margin: 2em 0;
  background: #f0f7ff;
  border: dashed 2px #5b8bd0;
}




#intro{
  float: left;
  width: 60%;
  margin-left: 10px;
}

#intro h1{
  font-size: 35px;
}

#intro p{
  font-size: 20px;
}

#intro font{
   background: linear-gradient(transparent 0%, #a7d6ff 0%);
}

#fascinate{
     padding: 0.2em 0.5em;
     margin: 2em 0;
     background: #d6ebff;
     box-shadow: 0px 0px 0px 10px #d6ebff;
     border: dashed 2px white;
}

#fascinate p{
    margin: 0;
    padding: 0;
}

#outcome h1{
  font-size: 25px;
  margin-bottom: 5px;
}

#outcome h2{
  font-size: 15px
}

#entire{
  float: left;
  width: 60%;
}
#entire p{
  font-size: 25px;
}
#entire b{
  font-size: 30px;
}

#F_tytle{
  padding: 8px 19px;
   margin: 2em 0;
   color: #2c2c2f;
   background: #cde4ff;
   border-top: solid 5px #5989cf;
   border-bottom: solid 5px #5989cf;
}
#F_tytle p{
  font-size: 35px;
}

#advantage{
  font-size: 30px;
}

#spec_tytle{
  padding: 8px 19px;
   margin: 2em 0;
   color: #2c2c2f;
   background: #cde4ff;
   border-top: solid 5px #5989cf;
   border-bottom: solid 5px #5989cf;
}
#spec_tytle p{
  font-size: 35px;
}
#explain h1{
  font-size: 30px;
  color: red;
}
#PC {
  width:auto 100%;
}
#PC {
  float: right;
  width: 35%;
  padding: 0.5em 1em;
  margin: 2em 0;
  background: #f0f7ff;
  border: dashed 2px #5b8bd0;
}
#PC h1{
  color: red;
  font-size:40px;
  margin-bottom:10px
}

#PC h2{
  font-size: 25px;
  margin-bottom: 5px;
}

#spec table{
  font-size: 20px;

}

#discord a{
  font-size: 30px;
}

#NBA{
  width: 100%;
}
#spurs_main{
  height: 800px;
}

#Wizards_main{
  height: 800px;
}
#spurs {
  width: 70%;
  float: left;
}

#spurs_twitter{
  width: 30%;
  float: right;
}
#spurs h1{
  font-size: 35px;
  color: black;
  padding: 0.5em 0;
  border-top: solid 3px ;
  border-bottom: solid 3px ;
}

#spurs h2 {
  font-size: 25px;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #232323;
  background: #fff8e8;
  border-left: solid 10px #ffc06e;

}

#movie_Spurs{
  font-size: 25px;
}

#Wizards {
  width: 70%;
  float: left;
}

#wizards_twitter{
  width: 30%;
  float: right;
}
#Wizards h1{
  font-size: 35px;
  color: black;
  padding: 0.5em 0;
  border-top: solid 3px ;
  border-bottom: solid 3px ;
}

#Wizards h2{
  font-size: 25px;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #232323;
  background: #fff8e8;
  border-left: solid 10px #ffc06e;
}

#movie_Wizards{
  font-size: 25px;
}

#NBA ul{
  font-size: 25px;
}

#NBA a{
  font-size : 30px;
}

#susume h1{
  font-size: 30px;
  color: #6cb4e4;
  text-align: center;
  padding: 0.25em;
  border-top: solid 2px #6cb4e4;
  border-bottom: solid 2px #6cb4e4;
  background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}

#susume h2{
  font-size: 25px;
  border-bottom: double 5px #FFC778;
}

#susume p ,li {
  font-size: 20px;
}

#medaka {
  width: auto 100%;
}

#susume {
  width: 60%;
  float: left;
  margin-left: 10px;
}

#gallery{
  width: 30%;
  float: right;

}
